<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        p.groove {
            border-style: groove;
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Viewpost</title>
    <!--Favicons-->
    <link rel="shortcut icon" href="img/favicon.png">

    <!-- Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap Css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <!-- CSS Files For Plugin -->

</head>

<body>
    <!-- Navbar (sit on top) -->
    <div class="w3-top">
        <div class="w3-bar w3-black w3-card" id="myNavbar">
            <a href="#home" class="w3-bar-item w3-button w3-wide"></a>


            <!-- Right-sided navbar links -->
            <div class="w3-right w3-hide-small">
                <a href="stat3" class="w3-bar-item w3-button"><i class="fa fa-bar-chart"></i> Stat</a>
                <a href="graph2" class="w3-bar-item w3-button"><i class="fa fa-area-chart"></i> Graph</a>
                <a href="viewpost2" class="w3-bar-item w3-button"><i class="fa fa-eye"></i> Viewpost</a>
                <a href="register" class="w3-bar-item w3-button"><i class="fa fa-pencil-square-o"></i> Register</a>
                <a href="/" class="w3-bar-item w3-button"><i class="fa fa-home"></i> Home</a>
            </div>

            <!-- Hide right-floated links on small screens and replace them with a menu icon -->
            <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium"
                onclick="w3_open()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
    </div>

    <!-- Sidebar on small screens when clicking the menu icon -->
    <div class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large"
        style="display:none" id="mySidebar">
        <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close <i
                class="fa fa-times"></i></a>
        <a href="stat3" class="w3-bar-item w3-button"><i class="fa fa-bar-chart"></i> Stat</a>
        <a href="graph2" class="w3-bar-item w3-button"><i class="fa fa-bar-chart"></i> Graph</a>
        <a href="viewpost2" class="w3-bar-item w3-button"><i class="fa fa-eye"></i> Viewpost</a>
        <a href="register" class="w3-bar-item w3-button"><i class="fa fa-pencil-square-o"></i> Register</a>
        <a href="/" class="w3-bar-item w3-button"><i class="fa fa-eye"></i> Home</a>
    </div>

    <!--Form register-->
    <div class="w3-container" style="padding:85px 25px">
        <form action="graph" method="POST">
            <div class="container">
                <p class="w3-xxxlarge">STAT</p>
                <hr>
                <h1>MAX & MIN AND AVERAGE WAGE</h1>
                <p>Max wage per day is <%= max.job %> : <%= max.wage %> <br>
                            Min wage per day is <%= min.job %> : <%= min.wage %> <br>
                                    Average wage per day is: <%= avg %><br></p>
                <hr>
                <h1>JOB ADVERTISE </h1>
                Dancer = <%= dancer %><br>
                    Singer = <%= singer %><br>
                        Teacher = <%= teacher %><br>
                            Actor = <%= actor %> <br>
                                Doctor = <%= doctor %>
                                    </p>
                                    <hr>



                                    <button type="submit" value="submit"
                                        class="w3-button w3-black w3-round-large">Graph</button>
        </form>
    </div>

    <!-----------------------JavaScript------------------------>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>

    <!-- JS Plugin -->


</body>

</html>